target/
/src/main/java/com/bdowebtech/bargainbuyclub/model/Environment.java
target/BargainBuyClub-1.0-SNAPSHOT/addAlert.jsp
target/BargainBuyClub-1.0-SNAPSHOT/index.jsp
target/BargainBuyClub-1.0-SNAPSHOT/Tomcat.dpf
target/BargainBuyClub-1.0-SNAPSHOT/WEB-INF/classes/com/bdowebtech/bargainbuyclub/model/Data/HomePage.class
target/BargainBuyClub-1.0-SNAPSHOT/WEB-INF/classes/com/bdowebtech/bargainbuyclub/model/Database.class
target/BargainBuyClub-1.0-SNAPSHOT/WEB-INF/classes/com/bdowebtech/bargainbuyclub/model/Store.class
target/classes/com/bdowebtech/bargainbuyclub/model/Data/HomePage.class
target/classes/com/bdowebtech/bargainbuyclub/model/Database.class
target/classes/com/bdowebtech/bargainbuyclub/model/Store.class

 Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Inclusions
!lib/**

# Compiled Files
*.class
bin/
build/
/bin1/
java/build/**