/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 1, 2020, 8:07:10 AM
    Author     : marti
*/

.container-fluid {
    height:100vh;
    text-height: auto;
}

.logo-font {
    font-family: 'Fredoka One', cursive;
    color: #ff0202;
}

.btn {
    background-color: #ff0202;
    border: 1px solid #ff0202;

}

.clear-float {
    clear: both;
}

.jumbotron {
    background-color: #f8f9fa;
}

#home_jumbo {
    margin: 10px 10px 10px 15px;

}

#home_jumbo_content > h1 {
    width: 80%;
}

#home_jumbo_content > img {
    height: 100px;
}

#home_alerts {
    margin: 10px 10px 10px 10px;
    padding: 5% 2% 10% 2%;
    height: 80vh;

}

#home_alerts h2 {
    margin-bottom: 2em;

}

#home_alerts tr:nth-child(odd)
{
    border-bottom: 1px solid black;

}

#home_alerts tr:nth-child(even) > td {
    padding-bottom: 12px;
    padding-bottom: 12px;
}


#home_alerts tr:nth-child(even) > td:nth-child(1) {
    width: 33%;

}

#home_alerts tr:nth-child(even) > td:nth-child(2) {
    width: 33%;
}

#home_alerts tr:nth-child(even) > td:nth-child(3) {
    width: 33%;
}

#home_alert_images {
    height: 20%;
    width: 70%;
    margin: 0 auto;
}

#home_alert_images > img
{
    float:left;
    max-height: 100%;
    max-width: 33%;

}

#home_alerts > p:nth-child(3) > a > img {
    height: 40px;
    width: auto;
}

#block_content {
    height: 80vh;
}

#bottom_nav {
    position: fixed;
    bottom: 0;
    z-index: 2;
    width:100%;

}

header {
    margin-top: 15px;
    margin-bottom: 25px;
}

#page-title {
    width: auto;
    display: inline;
    font-size: 200%;
    font-weight: bolder;
    margin-left: 25px;
}

#sign-out {
    display: inline;
    float: right;
}

@media (min-width: 992px) {
    #home_jumbo {
        height: 90vh;
        width: 48%;

    }

    #home_alerts {
        height: 90vh;
        width: 48%;

    }

}

@media (max-width: 992px) {

    #home_jumbo {
        width: 95%;
        margin: 10px auto;
        display: inline;
    }

    #home_alerts {
        width: 95%;
        margin: 10px auto;
        height: auto;
        display:inline;
    }

    #home_jumbo_content {
        max-width: 80%;
    }

    #home_jumbo_content > h1 {
        display: none;
    }

    #bottom_nav {
        display: none;
    }
}
